useDynLib(wfe)
export(wfe, pwfe, wfe.heatmap, findMatched2, findMatched,syn_DID, wfe2, syn_DID_MSMD, 
       syn_boot_gDiD, syn_DID_check, syn_DID_weights, syn_DID_gapsplot, 
       syn_DID_MSPE, syn_DID_tmp, syn_DID_weights_tmp, syn_boot_gDiD_tmp,
       wfe2_tmp2, wfe2_tmp3,
       PS_DID)

importFrom(Rcpp, evalCpp)
## exportPattern("^[[:alpha:]]+")
export(FindMatches, wfe, wfe2, findDDmatched2)



importFrom(arm, bayesglm)
import(Matrix, MASS)

S3method(summary, wfe)
S3method(print, wfe)
S3method(print, summary.wfe)

S3method(summary, wfe2)
S3method(print, wfe2)
S3method(print, summary.wfe2)

S3method(summary, wfe2_tmp)
S3method(print, wfe2_tmp)
S3method(print, summary.wfe2_tmp)

S3method(summary, pwfe)
S3method(print, pwfe)
S3method(print, summary.pwfe)

S3method(summary, wfedid)
S3method(print, wfedid)
S3method(print, summary.wfedid)


importFrom("methods", "as")
importFrom("stats", "as.formula", "binomial", "coef", "fitted", "lm",
           "model.frame", "model.matrix", "model.response", "na.omit",
           "pchisq", "printCoefmat", "pt", "resid", "vcov")
importFrom("utils", "flush.console", "object.size",
           "packageDescription")
